In [1]:
5+5

10

In [2]:
1/2

0.5

In [3]:
3**4

81

In [4]:
var1 = 4

In [5]:
var1

4

In [6]:
x='Hello World'

In [7]:
x

'Hello World'

In [8]:
print(x)

Hello World

In [9]:
num=12
name=Tijel

NameError: name 'Tijel' is not defined

In [10]:
num=12
name='Tijel'

In [11]:
'My name is {} and my number is {}'.format(name,num)

'My name is Tijel and my number is 12'

In [12]:
print('My name is {} and my number is {}'.format(name,num))

My name is Tijel and my number is 12

In [13]:
x = 'Tijel'

In [14]:
x[3]

'e'

In [15]:
x[1,3]

TypeError: string indices must be integers

In [16]:
x[1:3]

'ij'

In [17]:
x = ['a','b','c']

In [18]:
x.append('d')

In [19]:
x

['a', 'b', 'c', 'd']

In [20]:
x[0]='New'

In [21]:
x

['New', 'b', 'c', 'd']

In [22]:
nest = [1,2,[3,4]]

In [23]:
nest[2]

[3, 4]

In [24]:
nest[2][1]

4

In [25]:
d = {'Name':'Tijel', 'Age':29}

In [27]:
d['Name']

'Tijel'

In [28]:
t=(1,2,3)

In [29]:
t[1]

2

In [30]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

Sets

In [31]:
{1,1,1,1,2,2,3,3,3,3}

{1, 2, 3}

In [32]:
set([1,1,1,3,3,3,3,55,5,5,5,6,6])

{1, 3, 5, 6, 55}

In [33]:
set.add(7)

TypeError: descriptor 'add' requires a 'set' object but received a 'int'

In [34]:
s = {1,1,1,3,3,3,3,55,5,5,5,6,6}

In [35]:
s

{1, 3, 5, 6, 55}

In [36]:
s.add(7)

In [37]:
s

{1, 3, 5, 6, 7, 55}

In [38]:
1>3

False

In [39]:
1>=4

False

In [40]:
1!=3

True

In [42]:
(1<2) and (2>3)

False

In [43]:
(1<2) or (2>3)

True

Loops

In [44]:
if 1<2:
    print('yes')

yes

In [46]:
if 1==3:
    print('first')
else:
    print('last')

last

In [47]:
if 1==3:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [1]:
seq=[1,2,3,4,5]

In [2]:
for i in seq:
    print(i)

1
2
3
4
5

In [3]:
for i in seq:
    print('hello')

hello
hello
hello
hello
hello

In [1]:
i=1

while i<5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [2]:
range(0,5)

range(0, 5)

In [3]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [4]:
for x in range (0,5):
    print(x)

0
1
2
3
4

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
x=list(range(1,5))

In [7]:
out=[]

for i in x:
    out.append(i**2)

In [8]:
print(out)

[1, 4, 9, 16]

In [9]:
[num**2 for num in x]

[1, 4, 9, 16]

In [12]:
def my_func(name):
    print('Hello '+ name)

In [13]:
my_func('Tijel')

Hello Tijel

In [14]:
def my_func(name='Swati'):
    print('Hello '+ name)

In [15]:
my_func()

Hello Swati

In [23]:
def square(num):
    return num**2

In [24]:
output=square(2)

In [25]:
print(square(2))

4

In [26]:
print(output)

4

Map

In [1]:
def times2(var):
    return var*2

In [2]:
seq=[1,2,3,4,5]

In [3]:
map(times2,seq)

In [4]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

Lambda expression

In [5]:
t = lambda num:num*2

In [6]:
t(4)

8

In [7]:
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]

Filter

In [9]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

Methods

In [10]:
s = 'hello my name is Tijel'

In [11]:
s.capitalize()

'Hello my name is tijel'

In [12]:
s.upper()

'HELLO MY NAME IS TIJEL'

In [13]:
s.split()

['hello', 'my', 'name', 'is', 'Tijel']

In [14]:
tweet = 'Go Sports! #Sports'

In [15]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [16]:
tweet.split('#')[1]

'Sports'

In [17]:
d

NameError: name 'd' is not defined

In [18]:
d = {'k1':1, 'k2':2}

In [19]:
d.keys()

dict_keys(['k1', 'k2'])

In [20]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [21]:
d.values()

dict_values([1, 2])

In [22]:
l = [1,2,3,4,5]

In [23]:
item = l.pop()

In [24]:
l

[1, 2, 3, 4]

In [25]:
item

5

In [26]:
l.pop(1)

2

In [27]:
l

[1, 3, 4]

In [28]:
'x' in l

False

In [29]:
'x' in ['x','y','z']

True

Tuple unpacking

In [30]:
x = [(1,2),(3,4),(5,6)]

In [31]:
x[1]

(3, 4)

In [32]:
x[1][0]

3

In [33]:
for item in x:

SyntaxError: unexpected EOF while parsing (<ipython-input-33-a8ef7314d8c3>, line 1)

In [34]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [35]:
for (a,b) in x:
    print(a)

1
3
5

In [37]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6